proc            /proc           proc    defaults          0       0
{{ nfs_server_ip }}:{{ rootfs_path }}/      /       nfs     defaults,tcp    0       0
{{ nfs_server_ip }}:{{ bootfs_path }}/      /boot       nfs     defaults,tcp    0       0
