[Unit]
Description=Librespot open source spotify-connect client
Documentation=https://github.com/librespot-org/librespot

After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/local/bin/librespot.arm64_pulse -b 320 -n {% if spotify_connect_name is defined %}{{ spotify_connect_name }}{% else %}spotify-audio{% endif %} -G -F speaker
Restart=always
RestartSec=n

[Install]
WantedBy=default.target
