[Unit]
Description=Librespot open source spotify-connect client
Documentation=https://github.com/librespot-org/librespot

After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/local/bin/librespot.arm64_pulse -b 320 -n {{ spotify_connect_name }} -G -F speaker
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
