---

- name: Enable auto login on tty for media user (pipewire requires a logged in user for audio to work)
  ansible.builtin.include_role:
    name: autottylogin

- name: Install packages
  ansible.builtin.apt:
    name: "{{ kodi_packages }}"
    install_recommends: false
    update_cache: true

- name: Create user systemd folder
  ansible.builtin.file:
    path: /home/media/.config/systemd/user/
    state: directory
    owner: media
    group: media
    mode: '0700'
  tags: directory

- name: Create Kodi service
  ansible.builtin.copy:
    src: ./files/kodi.service
    dest: /home/media/.config/systemd/user/kodi.service
    owner: media
    group: media
    mode: '600'
  notify:
    - Reload systemd
  when: not ansible_check_mode

- name: Enable Kodi service
  become: false
  remote_user: media
  ansible.builtin.systemd:
    name: kodi
    state: started
    enabled: true
    scope: user
  notify:
    - Reload systemd
  when: not ansible_check_mode

- name: Create kodi settings folders
  ansible.builtin.file:
    path: /home/media/.kodi/userdata
    state: directory
    owner: media
    group: media
    mode: '700'

- name: Setup kodi media sources
  ansible.builtin.copy:
    src: sources.xml
    dest: /home/media/.kodi/userdata/sources.xml
    owner: media
    group: media
    mode: '644'
  notify: Restart kodi
  tags: sources

- name: Configure sane kodi GUI defaults
  ansible.builtin.replace:
    path: /home/media/.kodi/userdata/guisettings.xml
    regexp: "{{ item.key }}"
    replace: "{{ item.value }}"
  loop:
    # Set country for proper time
    - key: '<setting id="locale\.country" default="true">USA\ \(12h\)</setting>'
      value: '<setting id="locale.country">Central Europe</setting>'

    # Set country for proper time
    - key: '<setting id="locale.timezonecountry" default="true"\ />'
      value: '<setting id="locale.timezonecountry" default="true">Sweden</setting>'

    # Set Kodi resolution to 1080p
    - key: '<setting\ id="videoscreen\.resolution" default="true">16</setting>'
      value: <setting id="videoscreen.resolution">18</setting>

    # Set Kodi resolution to 1080p
    - key: '<setting id="videoscreen.screenmode"\ default="true">DESKTOP</setting>'
      value: '<setting id="videoscreen.screenmode">0192001080060.00000pstd</setting>'

    # Enable airplay
    - key: '<setting\ id="services\.airplay"\ default="true">false</setting>'
      value: '<setting id="services.airplay">true</setting>'

    # Enable remote control
    - key: '<setting\ id="services\.webserver"\ default="true">false</setting>'
      value: '<setting id="services.webserver">true</setting>'

    # Set password for remote control
    - key: '<setting\ id="services\.webserverpassword"\ default="true"\ />'
      value: '<setting id="services.webserverpassword">{{ kodi_remote_password }}</setting>'

    # Allow using third party kodi plugin repositories
    - key: '<setting\ id="addons\.unknownsources"\ default="true">false</setting>'
      value: <setting id="addons.unknownsources">true</setting>
  notify: Restart kodi
  tags: guisettings
