---

- name: Enable auto login on tty for media user (required for pulseaudio to work)
  ansible.builtin.include_role:
    name: autottylogin

- name: Create pipewire folders for module loading
  ansible.builtin.file:
    path: /home/media/.config/pipewire/pipewire.conf.d
    state: directory
    owner: media
    group: media
    mode: '0775'

- name: Add pipewire ROC module loading
  ansible.builtin.copy:
    src: files/roc-source.conf
    dest: /home/media/.config/pipewire/pipewire.conf.d/roc-source.conf
    create: true
    state: present
    owner: media
    group: media
    mode: '0644'
  notify:
    - Restart pipewire
    - Restart pipewire-pulse
