port=53
domain-needed
server=127.0.0.1#5053
bogus-priv
local=/{{ domain }}/
dhcp-range={{ dhcp_range }},24h
dhcp-option=option:router,{{ dhcp_router }}
listen-address={{ dhcp_router }},127.0.0.1
dhcp-option=6,{% if dns_primary is defined %}{{ dns_primary }}{% endif %}{% if dns_secondary is defined %},{{ dns_secondary -}}{% endif %}

dhcp-authoritative
log-dhcp
domain={{ domain }}

interface={{ lan_if }}.lan
{% if static_dhcp_clients is defined %}
{% for (key,value) in static_dhcp_clients.items() %}
dhcp-host={{key}},{{value}}
{% endfor %}
{% endif %}
