---

- name: Enable auto login on TTY for media user (required for audio to work)
  ansible.builtin.include_role:
    name: autottylogin

- name: Deduce OS architecture
  ansible.builtin.command: dpkg --print-architecture
  register: librespot_arch
  changed_when: false

- name: Copy librespot for ARM pulseaudio enabled version
  become: true
  ansible.builtin.copy:
    src: files/librespot.{{ librespot_arch.stdout }}_pulse
    dest: /usr/local/bin/
    owner: root
    group: root
    mode: '655'
  when: not ansible_check_mode

- name: Create user systemd folder
  ansible.builtin.file:
    path: /home/media/.config/systemd/user/
    state: directory
    owner: media
    group: media
    mode: '0700'

- name: Create librespot service
  ansible.builtin.template:
    src: librespot.service
    dest: /home/media/.config/systemd/user/librespot.service
    owner: media
    group: media
    mode: '600'
  notify: Reload systemd
  when: not ansible_check_mode
  tags: create_librespot_service

- name: Install pipewire-pulse
  ansible.builtin.apt:
    name: pipewire-pulse
    state: present

- name: Enable librespot service
  become: false
  remote_user: media
  ansible.builtin.systemd:
    name: librespot
    state: started
    enabled: true
    scope: user
  notify: Reload systemd
  when: not ansible_check_mode
